.active {
  opacity: 1 !important;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border-left: 3px solid #f5f5f5;
  border-right: 3px solid #f5f5f5;
  border-top: 3px solid #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
  background-image: linear-gradient(to top, #542cf2, #f2542c);
}
