.active {
    opacity: 1 !important;
}
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border-left: 4px solid #f5f5f5;
    border-right: 4px solid #f5f5f5;
    background: #1f1f1f;
}
